.player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  cursor: pointer;
}

.player iframe {
  width: 80vw;
  height: 45vw; 
  max-width: 900px;
  max-height: 506px;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

@media (max-width: 992px) {
  .player iframe {
    width: 90vw;  /* 90% of viewport width */
    height: 50vw; /* Maintain aspect ratio */
  }

  .player-info p{
    font-size: 16px;
  }
}


@media (max-width: 682px) {
  .player img {
    top: 10px;
    left: 10px;
    width: 40px;
  }

  .player img {
    top: 10px;
    left: 10px;
    width: 40px;
  }

  .player-info p{
    font-size: 12px;
  }
}
